03-wsdl/applicationpersister.wsdl

<?xml version="1.0"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://saveapplication.soap.webservices.mff.cuni.cz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://saveapplication.soap.webservices.mff.cuni.cz/" name="ApplicationPersisterService">
  <types>
    <xs:schema xmlns:tns="http://saveapplication.soap.webservices.mff.cuni.cz/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://saveapplication.soap.webservices.mff.cuni.cz/">
      <xs:element name="InterruptedException" type="tns:InterruptedException"/>
      <xs:element name="persist" type="tns:persist"/>
      <xs:element name="persistResponse" type="tns:persistResponse"/>
      <xs:element name="remove" type="tns:remove"/>
      <xs:element name="removeResponse" type="tns:removeResponse"/>
      <xs:complexType name="persist">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
          <xs:element name="arg1" type="xs:string" minOccurs="0"/>
          <xs:element name="arg2" type="xs:string" minOccurs="0"/>
          <xs:element name="arg3" type="xs:string" minOccurs="0"/>
          <xs:element name="arg4" type="xs:int"/>
          <xs:element name="arg5" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="persistResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InterruptedException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="remove">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="removeResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="remove">
    <part name="parameters" element="tns:remove"/>
  </message>
  <message name="removeResponse">
    <part name="parameters" element="tns:removeResponse"/>
  </message>
  <message name="persist">
    <part name="parameters" element="tns:persist"/>
  </message>
  <message name="persistResponse">
    <part name="parameters" element="tns:persistResponse"/>
  </message>
  <message name="InterruptedException">
    <part name="fault" element="tns:InterruptedException"/>
  </message>
  <portType name="IApplicationPersister">
    <operation name="remove">
      <input message="tns:remove"/>
      <output message="tns:removeResponse"/>
    </operation>
    <operation name="persist">
      <input message="tns:persist"/>
      <output message="tns:persistResponse"/>
      <fault message="tns:InterruptedException" name="InterruptedException"/>
    </operation>
  </portType>
  <binding name="ApplicationPersisterPortBinding" type="tns:IApplicationPersister">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="remove">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="persist">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InterruptedException">
        <soap:fault name="InterruptedException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ApplicationPersisterService">
    <port name="ApplicationPersisterPort" binding="tns:ApplicationPersisterPortBinding">
      <soap:address location="http://127.0.0.1:8000/application-manager"/>
    </port>
  </service>
</definitions>
