07-bpel/BProcess/BProcess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://bprocess.soap.webservices.mff.cuni.cz/wsdl"
   xmlns:tnsxsd="http://bprocess.soap.webservices.mff.cuni.cz/xsd"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
   xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
   xmlns:persist="http://saveapplication.soap.webservices.mff.cuni.cz/"
   xmlns:verify="http://cardverification.soap.webservices.mff.cuni.cz/"
   targetNamespace="http://bprocess.soap.webservices.mff.cuni.cz/wsdl">
   
    <wsdl:import location="persister.wsdl"
      namespace="http://saveapplication.soap.webservices.mff.cuni.cz/" />

	<wsdl:import location="verification.wsdl"
		namespace="http://cardverification.soap.webservices.mff.cuni.cz/" />

  <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bprocess.soap.webservices.mff.cuni.cz/" version="1.0" targetNamespace="http://bprocess.soap.webservices.mff.cuni.cz/wsdl">

  </xs:schema>

	<wsdl:types>
		<xsd:schema targetNamespace="http://bprocess.soap.webservices.mff.cuni.cz/wsdl">
		     <xsd:complexType name="processData">
		        <xsd:sequence>
					<xsd:element name="arg0" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="arg1" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="arg2" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="arg3" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="arg4" type="xsd:int" />
					<xsd:element name="arg5" type="xsd:string"
						minOccurs="0" />
		          <xsd:element name="card" type="xsd:string" />
		        </xsd:sequence>
		     </xsd:complexType>
			<!-- <xsd:element name="processIn" type="tns:processData"/> -->
      		<xsd:element name="processIn" type="tns:processData"/>
      		<!-- <xsd:complexType name="processOutput">
      			<xsd:sequence>
      				<xsd:element name="out" type="xsd:boolean" minOccurs="0" />
      			</xsd:sequence>
      		</xsd:complexType>-->
			<xsd:element name="processOut" type="xsd:boolean"/>
		</xsd:schema>
	</wsdl:types> 

	<wsdl:message name="ProcessInputMessage">
		<wsdl:part name="parameters" element="tns:processIn"/>
	</wsdl:message>
	<wsdl:message name="ProcessOutputMessage">
		<wsdl:part name="parameters" element="tns:processOut"/>
	</wsdl:message>

    <!-- Entrance into the service -->
	<wsdl:portType name="ProcessPortType">
		<wsdl:operation name="processCard">
			<wsdl:input name="processIn" message="tns:ProcessInputMessage"/>
			<wsdl:output name="processOut" message="tns:ProcessOutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>

	<!-- Step 1: Verify the card -->
	<wsdl:portType name="VerifyCardResponsePortType">
		<wsdl:operation name="verifyOperation">
			<wsdl:input name="cardNumber" message="verify:verify"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<!-- Step 2: If not valid card then add card -->
	<wsdl:portType name="AddCardResponsePortType">
		<wsdl:operation name="addCardOperation">
			<wsdl:input name="cardNumber" message="verify:addCard"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<!--  Step 3: Persist an application -->
	<wsdl:portType name="PersistResponsePortType">
		<wsdl:operation name="persistOperation">
			<wsdl:input name="applicationData" message="persist:persist"/>
		</wsdl:operation>
	</wsdl:portType>

	<!-- Entry point binding -->
	<wsdl:binding name="ProcessInputSOAPBinding" type="tns:ProcessPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="processCard">
			<soap:operation soapAction="urn:processCard" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<!-- Step 1 binding -->
	<wsdl:binding name="VerifySOAPBinding" type="tns:VerifyCardResponsePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="verifyOperation">
			<soap:operation soapAction="urn:verifyOperation" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	
	<!-- Step 2 binding -->
	<wsdl:binding name="AddCardSOAPBinding" type="tns:AddCardResponsePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="addCardOperation">
			<soap:operation soapAction="urn:addCardOperation" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	
	<!-- Step 3 binding -->
	<wsdl:binding name="PersistSOAPBinding" type="tns:PersistResponsePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="persistOperation">
			<soap:operation soapAction="urn:persistOperation" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ProcessInputService">
		<wsdl:port name="ProcessInputPort" binding="tns:ProcessInputSOAPBinding">
			<soap:address location="http://localhost:8080/ode/processes/processInput"/>
		</wsdl:port>
		<wsdl:port name="VerifyCardPort" binding="tns:VerifySOAPBinding">
			<soap:address location="http://localhost:8080/ode/processes/verify"/>
		</wsdl:port>
		<wsdl:port name="AddCardPort" binding="tns:AddCardSOAPBinding">
			<soap:address location="http://localhost:8080/ode/processes/addCard"/>
		</wsdl:port>
		<wsdl:port name="PersistPort" binding="tns:PersistSOAPBinding">
			<soap:address location="http://localhost:8080/ode/processes/persist"/>
		</wsdl:port>
	</wsdl:service>

	<plnk:partnerLinkType name="ProcessLinkType">
		<plnk:role name="EntryRole" portType="tns:ProcessPortType"/>
	</plnk:partnerLinkType>

	<plnk:partnerLinkType name="VerifyCardLinkType">
	  <plnk:role name="VerifyRole" portType="verify:ICardVerifier" />
	  <plnk:role name="VerifyClientRole" portType="tns:VerifyCardResponsePortType" />
	</plnk:partnerLinkType>

    <plnk:partnerLinkType name="AddCardLinkType">
	  <plnk:role name="AddCardRole" portType="verify:ICardVerifier" />
	  <plnk:role name="AddCardClientRole" portType="tns:AddCardResponsePortType" />
	</plnk:partnerLinkType>

	<plnk:partnerLinkType name="PersistLinkType">
	  <plnk:role name="PersistRole" portType="persist:IApplicationPersister" />
	  <plnk:role name="PersistClientRole" portType="tns:PersistResponsePortType" />
	</plnk:partnerLinkType>

</wsdl:definitions>
