07-bpel/BProcess/persister.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). 
	RI's version is JAX-WS RI 3.0.1 git-revision#6a0a3a3. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). 
	RI's version is JAX-WS RI 3.0.1 git-revision#6a0a3a3. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://saveapplication.soap.webservices.mff.cuni.cz/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://saveapplication.soap.webservices.mff.cuni.cz/"
	name="ApplicationPersisterService">
	<types>
		<xsd:schema xmlns:tns="http://saveapplication.soap.webservices.mff.cuni.cz/" targetNamespace="http://saveapplication.soap.webservices.mff.cuni.cz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0" >
			<xsd:element name="InterruptedException"
				type="tns:InterruptedException" />
			<xsd:element name="persist" type="tns:persist" />
			<xsd:element name="persistResponse"
				type="tns:persistResponse" />
			<xsd:element name="remove" type="tns:remove" />
			<xsd:element name="removeResponse"
				type="tns:removeResponse" />
			<xsd:complexType name="persist">
				<xsd:sequence>
					<xsd:element name="arg0" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="arg1" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="arg2" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="arg3" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="arg4" type="xsd:int" />
					<xsd:element name="arg5" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="persistResponse">
				<xsd:sequence>
					<xsd:element name="return" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="InterruptedException">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="remove">
				<xsd:sequence>
					<xsd:element name="arg0" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="removeResponse">
				<xsd:sequence>
					<xsd:element name="return" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="remove">
		<part name="parameters" element="tns:remove" />
	</message>
	<message name="removeResponse">
		<part name="parameters" element="tns:removeResponse" />
	</message>
	<message name="persist">
		<part name="parameters" element="tns:persist" />
	</message>
	<message name="persistResponse">
		<part name="parameters" element="tns:persistResponse" />
	</message>
	<message name="InterruptedException">
		<part name="fault" element="tns:InterruptedException" />
	</message>
	<portType name="IApplicationPersister">
		<operation name="remove">
			<input
				wsam:Action="http://saveapplication.soap.webservices.mff.cuni.cz/IApplicationPersister/removeRequest"
				message="tns:remove" />
			<output
				wsam:Action="http://saveapplication.soap.webservices.mff.cuni.cz/IApplicationPersister/removeResponse"
				message="tns:removeResponse" />
		</operation>
		<operation name="persist">
			<input
				wsam:Action="http://saveapplication.soap.webservices.mff.cuni.cz/IApplicationPersister/persistRequest"
				message="tns:persist" />
			<output
				wsam:Action="http://saveapplication.soap.webservices.mff.cuni.cz/IApplicationPersister/persistResponse"
				message="tns:persistResponse" />
			<fault message="tns:InterruptedException"
				name="InterruptedException"
				wsam:Action="http://saveapplication.soap.webservices.mff.cuni.cz/IApplicationPersister/persist/Fault/InterruptedException" />
		</operation>
	</portType>
	<binding name="ApplicationPersisterPortBinding"
		type="tns:IApplicationPersister">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="remove">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="persist">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="InterruptedException">
				<soap:fault name="InterruptedException" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="ApplicationPersisterService">
		<port name="ApplicationPersisterPort"
			binding="tns:ApplicationPersisterPortBinding">
			<soap:address
				location="http://127.0.0.1:8001/application-manager" />
		</port>
	</service>
</definitions>
