07-bpel/BProcess/verification.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). 
	RI's version is JAX-WS RI 3.0.1 git-revision#6a0a3a3. -->
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). 
	RI's version is JAX-WS RI 3.0.1 git-revision#6a0a3a3. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cardverification.soap.webservices.mff.cuni.cz/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cardverification.soap.webservices.mff.cuni.cz/" name="CardVerifierService">
   <types>
      <xsd:schema targetNamespace="http://cardverification.soap.webservices.mff.cuni.cz/" version="1.0">
         <xsd:element name="addCard" type="tns:addCard" />
         <xsd:element name="addCardResponse" type="tns:addCardResponse" />
         <xsd:element name="verify" type="tns:verify" />
         <xsd:element name="verifyResponse" type="tns:verifyResponse" />
         <xsd:complexType name="verify">
            <xsd:sequence>
               <xsd:element name="arg0" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="verifyResponse">
            <xsd:sequence>
               <xsd:element name="return" type="xsd:boolean" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="addCard">
            <xsd:sequence>
               <xsd:element name="arg0" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="addCardResponse">
            <xsd:sequence>
               <xsd:element name="return" type="xsd:boolean" />
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </types>
   <message name="verify">
      <part name="parameters" element="tns:verify" />
   </message>
   <message name="verifyResponse">
      <part name="parameters" element="tns:verifyResponse" />
   </message>
   <message name="addCard">
      <part name="parameters" element="tns:addCard" />
   </message>
   <message name="addCardResponse">
      <part name="parameters" element="tns:addCardResponse" />
   </message>
   <portType name="ICardVerifier">
      <operation name="verify">
         <input wsam:Action="http://cardverification.soap.webservices.mff.cuni.cz/ICardVerifier/verifyRequest" message="tns:verify" />
         <output wsam:Action="http://cardverification.soap.webservices.mff.cuni.cz/ICardVerifier/verifyResponse" message="tns:verifyResponse" />
      </operation>
      <operation name="addCard">
         <input wsam:Action="http://cardverification.soap.webservices.mff.cuni.cz/ICardVerifier/addCardRequest" message="tns:addCard" />
         <output wsam:Action="http://cardverification.soap.webservices.mff.cuni.cz/ICardVerifier/addCardResponse" message="tns:addCardResponse" />
      </operation>
   </portType>
   <binding name="CardVerifierPortBinding" type="tns:ICardVerifier">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
      <operation name="verify">
         <soap:operation soapAction="" />
         <input>
            <soap:body use="literal" />
         </input>
         <output>
            <soap:body use="literal" />
         </output>
      </operation>
      <operation name="addCard">
         <soap:operation soapAction="" />
         <input>
            <soap:body use="literal" />
         </input>
         <output>
            <soap:body use="literal" />
         </output>
      </operation>
   </binding>
   <service name="CardVerifierService">
      <port name="CardVerifierPort" binding="tns:CardVerifierPortBinding">
         <soap:address location="http://localhost:8000/verification" />
      </port>
   </service>
</definitions>